<!DOCTYPE html>
<html>
<head>
    <meta property="og:site_name" content="Загулы и запои"/>
    <meta property="og:title" content="Загулы и запои"/>
    <meta property="og:description" content="По состоянию на сегодня в желтой майке лидера по загулам - <%= cache[1].name.surname %>."/>
    <meta property="og:url" content="http://slackers.elasticbeanstalk.com"/>
    <title>Помогаем бороться с запоями и загулами</title>
    <meta property="og:image" content="<%=settings.photos%><%= cache[1].photo %>" />
    <meta name="Description" content="Помогаем депутатам Верховной Рады Украины бороться с запоями и загулами">
    <meta name="Keywords" content="депутат верховна рада прогул прогульщик посещение тунеядцы дармоеды работа трудовая дисциплина рабочее место голосование">
    <link rel='stylesheet' href='/stylesheets/mobile.css' />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        var photoPath = "<%=settings.photos%>";
    </script>
    <script src="/javascripts/main.js"></script>
</head>
<body>


<header>
    <img class="logo" src="images/logo.png">
</header>

<h2>Прогуляно:</h2>

<ul id="slackersContainer">
    <% for(var i=0; i<20; i++) {%>
    <% if(cache[i].kod === 371 ) {%>

    <li class="deputat inactive">
        <img src="<%=settings.photos%><%= cache[i].photo %>"/>
        <div class="fio"><%= cache[i].name.surname %> <%= cache[i].name.firstname %> <%= cache[i].name.patronymic %> (<a href="http://w1.c1.rada.gov.ua/pls/radan_gs09/ns_dep?vid=3&kod=<%=cache[i].kod%>" target="_blank">Пруфлинк</a>)</div>
        <div class="faction"><%= cache[i].faction.title %></div>
        <div class="percents"><%= cache[i].stats.percents %><span>&nbsp;% (<%= cache[i].stats.nonregistered %> из <%= cache[i].stats.all %>)</span></div>

    </li>

    <%} else {%>

    <li class="deputat">
        <img src="<%=settings.photos%><%= cache[i].photo %>"/>
        <div class="fio"><%= cache[i].name.surname %> <%= cache[i].name.firstname %> <%= cache[i].name.patronymic %> (<a href="http://w1.c1.rada.gov.ua/pls/radan_gs09/ns_dep?vid=3&kod=<%=cache[i].kod%>" target="_blank">Пруфлинк</a>)</div>
        <div class="faction"><%= cache[i].faction.title %></div>
        <div class="percents"><%= cache[i].stats.percents %><span>&nbsp;% (<%= cache[i].stats.nonregistered %> из <%= cache[i].stats.all %>)</span></div>

    </li>
    <%}%>
    <%}%>
</ul>


<!--
<footer>
    <div><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fslackers.elasticbeanstalk.com" target="_blank">Расскажите о нас в фейсбуке</a></div>
    <div class="copy">&copy; Группа граждан</div>
</footer>
-->

<script src="javascripts/ga.js"></script>

</body>
</html>